* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:#C9D6ED;
}

.header {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

h1 {
    color: #d69422;
    font-size: 40px;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    display: flex;
    border: 1px solid blue;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #ba8325;
    font-size: 48px;
    font-style: italic;
}
.circle {
    margin: 0 20px 0 20px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    background-color: white;
    
}
