* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, .input {
    background-color:#C9D6ED;
}

.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    padding: 10px;
    text-align: center;
}

h1 {
    color: #d69422;
    font-size: 70px;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.presets {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.input {
    border: 1px solid #4976c5;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #abc4f0, 0 1px 1px rgba(15,17,17,.15) inset;
}

button {
    border: 1px solid #4976c5;
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    opacity: 90%;
}

.btn-input {
    width: 50px;
}
.btn-reset {
    width: 80px;
}
.btn-color {
    width: 150px;
    background-color: #d69422;
    border: none;
}

